<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/fragment :: head"></head>
    <body style="background-color: #caced1;">
    	<div th:replace="fragments/fragment :: header"></div>
    	<form action="/penduduk/cari" method="get">
    		<div class="form-group">
			    <label for="nama_kota">Kota:</label>
			    <select class="form-control" name="kt" disabled="disabled">
			    	<option th:value="${id_kota}" th:text="${nama_kota}"> Kota-X </option>
			    </select>
			  </div>
			  <input type="hidden" th:value="${id_kota}" name="kt" />
			  <div class="form-group">
			    <label for="nama_kecamatan">Kecamatan:</label>
			    <select class="form-control" name="kc" disabled="disabled">
			    	<option th:value="${id_kecamatan}" th:text="${nama_kecamatan}"> Kecamatan-X </option>
			    </select>
			  </div>
			  <input type="hidden" th:value="${id_kecamatan}" name="kc" />
			  <div class="form-group">
			    <label for="nama_kelurahan">Kelurahan:</label>
			    <select class="form-control" name="kl">
			    	<option> Pilih Kelurahan </option>
			    	<option th:each="kelurahan,iterationStatus: ${allKelurahan}" th:value="${kelurahan.id}" th:text="${kelurahan.nama_kelurahan}"> Kelurahan-X </option>
			    </select>
			  </div>
			  <button class="btn btn-primary" style="padding: 10px; padding-left: 20px; padding-right: 20px; margin-top: 10px;" type="submit">Lihat</button>
    	</form>
    	
    	<div th:replace="fragments/fragment :: footer"></div>
		<script src="/jquery/jquery-3.2.1.min.js"></script>    
		<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>